
<form action="/end" method="POST">

    <h3>Feel free to give us feedback! It's optional. Click 'Done' when you're ready to get your confirmation code. </h3>


    <p>&nbsp;</p>


    <p>&nbsp;</p>

    <p><textarea cols="80" name="comment" rows="3"></textarea></p>

    <p>
    <style type="text/css"><!--
    .highlight-box { border:solid 0px #98BE10; background:#FCF9CE; color:#222222; padding:4px; text-align:left; font-size: smaller;}
    -->
    </style>
    </p>


    <input type="submit" id='register' name="Done" value="Submit">

</form>